# Python
__pycache__/
*.py[cod]
*.pyo
.pytest_cache/

# Virtual environments
venv/
.venv/
env/

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Environment
.env

# YOLO
runs/

# Datasets
datasets/
dataset/
data/

# Models
*.pt
!perception/weights/best.pt
